@import "tailwindcss";

.ant-drawer-body {
  padding: 0 !important;
}

.drawer-close-icon {
  cursor: pointer;
}

.drawer-title {
  padding: 36px 40px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drawer-title-text {
  font-size: 24px;
}

/* Tabs样式 */
.ant-tabs-nav {
  margin: 0 40px !important;
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 0 4px 16px;
  font-size: 16px;
  color: #888888;
}

.ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #0d0d0d !important;
  outline: unset !important;
}

.ant-tabs .ant-tabs-tab-btn:active {
  color: #0d0d0d !important;
}

.ant-tabs-tab:hover {
  color: #0d0d0d !important;
}

.ant-tabs-ink-bar {
  background-color: #0d0d0d !important;
  height: 3px !important;
}

.my-drawer {
  display: flex;
  flex-direction: column;
}

.ant-list-item-meta-description{
  margin-top: 10px;
}

.ant-list-item-meta-avatar{
  margin-inline-end:12px !important;
}

.my-drawer .ant-tabs {
  flex: 1 !important;
}

.my-drawer .ant-tabs-content,
.my-drawer .ant-tabs-tabpane {
  height: 100%;
}

.ant-list-item {
  border-block-end: unset !important;
}

.list-item {
  display: block !important;
  padding: 20px !important;
}

.list-item:hover {
  background-color: #f5f5f5;
}

.item-space {
  width: 100%;
  display: flex
}

.item-space .ant-space-item:last-child {
  flex: 1;
}

.remove {
  display: none;
}

.remove:hover {
  color: #0d0d0d80;
}

.list-item:hover .remove {
  display: block;
}

.avatar {
  width: fit-content;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.avatar .takedown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.bought{
  gap: 4px;
  display: flex;
  margin-top: 12px;
  color: #404040;
}