.floating-cart-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 99;
}
.cart-container {
  cursor: pointer;
  position: relative;
  width: 54px;
  height: 54px;
  background-color: #fff;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cart-container:hover{
  background-color: #f5f5f5;
}
.cart-icon {
  width: 24px;
  height: 24px;
}
.cart-count {
  position: absolute;
  top: 2px;
  right: -2px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 10px;
}